<template>
  <div>
    <div class="bg-secondary d-flex justify-content-around">  
      <span> Attendee </span>
      <span> Gift </span>
    </div>
    <b-list-group>
      <b-list-group-item variant="secondary" class="d-flex align-items-center" v-for="item in data" :key="item.id">
        <b-avatar></b-avatar>
        <div class="w-50">
          <span>{{item.name}}</span><br>
          <small class="text-muted"> {{item.attendanceType}}</small>
        </div>
        <div class="w-50">
          <span><b>{{item.value | currency}}</b></span><br>
          <small class="text-muted"> GiftType: {{item.giftType}}</small>
        </div>
      </b-list-group-item>
    </b-list-group>
  </div>
</template>

<script>
export default {
  name: 'AttendeeList',
  props: {
    data: Array
  }  
}
</script>
