<template>
  <div>
    <div class="bg-secondary text-white">  
      <span> Gift Collection </span>
    </div>
    <div justify-content-start>
      <small class="text-left"> Event: Saiful's Wedding </small>
    </div>
    <b-table-simple>      
      <b-thead>
        <b-tr variant="secondary">
          <b-th class="text-left" colspan="2">Gift Collection</b-th>
        </b-tr>
      </b-thead>
      <b-tbody v-for="item in data" :key="item.id">
        <b-tr variant="secondary">
          <b-td class="text-left">{{ item.name }}</b-td>
          <b-td><b> {{ item.value | currency }} </b></b-td>
        </b-tr>
      </b-tbody>
      <b-tfoot>
        <b-tr variant="secondary">
          <b-td class="text-left">
            <b> Total: </b>
          </b-td>
          <b-td>
            <b> {{ calculateTotal | currency }} </b>
          </b-td>
        </b-tr>
      </b-tfoot>
    </b-table-simple>
  </div>
</template>

<script>
export default {
  name: 'GiftCollection',
  props: {
    data: Array
  },
  computed: {
    calculateTotal () {
      return this.data.reduce((acc, curr) => {
        return acc + curr.value
      }, 0)
    }
  }
}
</script>
