<template>
  <div class="border mb-3">
    <div class="d-flex mt-3 justify-content-around">
      <div class="col-sm-2 text-muted">
        <b-icon-house-door></b-icon-house-door>
        <p style="font-size: 10px;">Home</p>
      </div>
      <div class="col-sm-2 text-muted">
        <b-icon-plus-circle-fill/>
        <p style="font-size: 10px;">To Host</p>
      </div>
      <div class="col-sm-2 text-muted">
        <b-icon-upc-scan class="bg-warning" style="width: 50px; height: 50px;"/>
        <p style="font-size: 10px;">Scan QR Code</p>
      </div>
      <div class="col-sm-2 text-muted">
        <b-icon-calendar-event/>
        <p style="font-size: 10px;">My Events</p>
      </div>
      <div class="col-sm-2 text-muted">
        <b-icon-people-fill/>
        <p style="font-size: 10px;">My Profile</p>
      </div>      
    </div>    
  </div>  
</template>

<script>
export default {
  name: 'TheFooter'  
}
</script>