<template>
  <div>
    <div class="d-flex justify-content-around align-items-center pt-3 bg-warning">
      <b-icon-arrow-left-circle></b-icon-arrow-left-circle>
      <b-icon-bell class="ml-30"></b-icon-bell>
      <b-avatar></b-avatar>
    </div>
  </div>  
</template>

<script>
export default {
  name: 'TheHeader'
}
</script>
