<template>
  <div id="app">
    <b-container>
      <div class="mx-auto" style="width: 300px;">
        <the-header></the-header>
        <gift-collection :data= "giftItems"></gift-collection>
      </div>
      <div class="mx-auto" style="width: 350px;">
        <attendee-list :data="attendeeItems"></attendee-list>
      </div>
      <div class="mx-auto footer">
        <the-footer></the-footer>
      </div>      
    </b-container>
  </div>
</template>

<script>
import TheHeader from './components/TheHeader.vue'
import TheFooter from './components/TheFooter.vue'
import GiftCollection from './components/GiftCollection.vue'
import AttendeeList from './components/AttendeeList.vue'

export default {
  name: 'App',
  components: {
    TheHeader,
    TheFooter,
    GiftCollection,
    AttendeeList
  },
  data() {
    return {
      giftItems: [
        {
          name: 'opening balance',
          value: 1000
        },
        {
          name: 'Cash Gift',
          value: 5550
        },
        {
          name: 'Voucher Gift',
          value: 3500
        },
        {
          name: 'Special Gift-Honeymoon',
          value: 1200
        },
        {
          name: 'Special Gift-Canopy Rental',
          value: 1500
        },
      ],
      attendeeItems: [
        {
          avatar: 'people',
          name: 'Amir',
          attendanceType: 'Not Confirmed',
          value: 100,
          giftType: 'Cash'
        },
        {
          avatar: 'people',
          name: 'Sulaika',
          attendanceType: 'Confirmed',
          value: 150,
          giftType: 'Voucher - Lazada, Airasia'
        },
        {
          avatar: 'people',
          name: 'John',
          attendanceType: 'Not Confirmed',
          value: 250,
          giftType: 'Cash'
        }
      ]
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.footer {
  position: absolute;
  background-color: white;
  left:0;
  right:0;
  bottom:-190px;
  width: 350px;
}
</style>
